html{
  font-size: 62.5%;
  height: auto;
}
.home{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.izbor-procene{
  width: 100%;
  height: 5%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
button{
  width: 10rem;
  height: 5rem;
  border: none;
  border-radius: 0.5rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  overflow: hidden;
}
.izbor-opasnosti{
  margin-top: 3rem;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.izbor-opasnosti select{
  width: 50%;
}
label{
  padding-bottom: 1rem;
  font-size: 1.2rem;
  padding-right: 3rem;
  white-space: nowrap;
}
 h1{
text-align: center;
}
.procena{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.procena input{
  margin-top: 2rem;
  height: 2rem;
  width: 25rem;
}
.test{
  position: absolute;
  left: 45%;
  top: 45%;
  width: 25rem;
  height: 25rem;
  display: flex;
  flex-wrap: wrap;
}
.d1,.d2,.d3,.d4,.d5,.d6,.d7,.d8,.d9{
  width: 6rem;
  height: 6rem;
  background-color: green;
  border: 0.2rem solid black;
}
.izbor-scenarija button{
width: 20rem;
}
.izbor-scenarija{
  padding-top: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.kalkulator{
  width: 100%;
  height: 10vh;
  margin-top: 2rem;
}
.kalkulator form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.verovatnoce{
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.procene-niz{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-between;
  width: 33%;
}
.procene-nizovi{
  width: 50%;
  justify-content: space-evenly;
  display: flex;
  height: 60rem;
}
.posledice{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-evenly;
}
.posledica-izbor{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.posledice-nizovi{
  height: 50rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.inputi-posledice input{
  margin-bottom: 1rem;
width: 8rem;
height: 2.5rem;
display: flex;
align-items: center;
justify-content: center;
}
.inputi-posledice{
  display: flex;
  align-items: baseline;
}
 input[type=number]::-webkit-inner-spin-button, 
 input[type=number]::-webkit-outer-spin-button { 
   -webkit-appearance: none; 
   margin: 0; 
 }

.tabela-opcije div{
  width: 100%;
  height: auto;
  border: 1px black solid;
}
.orient{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.izborVerovatnoce{
  display: flex;
  align-items: center;
  justify-content: center;
}
.proba{
  display: flex;
  width: 100%;
}
.proba1{
  width: 50%;
  border: 0.1rem solid black;
  margin:3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  overflow: hidden;
}
.save{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}
.naslov-opasnosti{
  display: flex;
  align-items: center;
  justify-content: center;
}
.plus{
  transform: rotate(45deg);
  font-size: 9rem;
  color: rgb(206, 29, 29);
}
.plus:hover{
  cursor: pointer;
}
.numerisanje-butona{
  display: flex;
  align-items: baseline;
}
@media screen and (max-width: 1024px){
  html{
    font-size: 42.5%;
  }
  button{
    width: 9rem;
    height: 4rem;
    font-size: 1.2rem;
  }
  ::placeholder{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
  }
  .proba{
    flex-direction: column;
    padding-bottom: 0rem;
  }
  .proba1{
    width: 90%;
    padding-bottom: 10%;
  }
  label{
    white-space: nowrap;
    font-size: 1.1rem;
    padding: 1rem;
  }
  .inputi-posledice input{
    width: 6.5rem;
  }
}